html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    text-align: center;
}

img[src='img/logo.png'] {
    margin-top: 10px;
    margin-bottom: 5px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}